.img {
    width: 90px;
}

.usersPage {
    display: block;
    border-radius: 15px;
    justify-content: space-between;
    align-items: center;
    background: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.userList {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.userList div {
    width: 7vw
}

.paginationBlock {
    display: flex;
    padding: 2%;
    justify-content: center;
}

.status {
    display: block;
}

.currentPage {
    font-weight: bold;
}