/*.nav{*/
/*    grid-area: n;*/
/*    background: gray;*/
/*    padding: 20px;*/
/*}*/
/*.item a{*/
/*    color: white;*/
/*    text-decoration: none;*/

/*}*/

/*.item a.activeLink{*/
/*    color: greenyellow;*/
/*}*/

.nav {
    /*grid-area: nav;*/
    width: 20%;
    padding: 10px;
    background-color: #ffffff;
    margin-left: 10%
}

.nav__list {
    padding: 0;
    margin-bottom: 80px;
    list-style-type: none;

}

.nav__link {
    text-decoration: none;

}

.nav__item {
    height: 50px;
    display: flex;
    justify-content: center;
}


.active {
    color: #50b5ff;
    border-radius: 5px;
    background: #f5fbff;
}