.boxTextarea {
}

.input {
    height: 20px;
    padding: 5px;
    vertical-align: middle;
    max-width: 100%;
    color: #666;
    border: 1px solid #eceff5;
    border-radius: 7px;
    transition: 0.2s ease-in-out;
    transition-property: color, background-color, border;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
}

.checkbox{
    height: 10px;
}


.textarea {
    font-family: Montserrat, sans-serif;
    border: 1px solid silver;
    outline: none;
    min-width: 15vw;
    background: transparent;
    font-size: 14px;
    color: #a09e9e;
    resize: initial;
    border-radius: 5px;
    overflow-y: visible;
}

.formControl.error textarea,
.formControl.error input {
    border-radius: 5px;
    color: red;
}


.errorMessage{
    margin: 0;
    color: red;
}


.formErrorSummary {
    color: red;
    border-radius: 5px;
}