.box {
}

.error {
    color: red;
}

.contact li {
    display: flex;
    justify-content: space-between;
    max-height: 3vh;
    align-items: center;
    padding: 4%;
    border-bottom: 1px solid gray;
}

.contact{
    padding-bottom: 2vh;
}

.btnSave{
    display: flex;
    justify-content: flex-end;
    margin-top: 2vh;
}

@media screen and (max-width: 550px) {
    .box{
        padding: 3%;
    }
    .btnSave{
        justify-content: center;
    }
}