.app-wrapper {
  display: grid;
  grid-template-areas:
"h h"
"n c";

  grid-template-rows: 60px 1fr;
  grid-auto-columns: 2fr 10fr;  /*{1 колонка 2 фракции другая 10}*/
  /*grid-gap: 10px;*/
}

.app-wrapper-content{
  grid-area:c;
  background: aqua;
  background-size: auto}



