.dialogsWrapper {
    display: flex;
    border-radius: 15px;
    padding: 15px;
    border: 1px solid grey;
    box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;

}

.dialogList{
    padding: 10px;
    border: 1px solid grey;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    height: calc(100% - 1% - 17px);
    overflow-y: scroll;
    border-radius: 15px;
    background: whitesmoke;
    text-decoration: none;

}
.messageList{
    padding: 10px;
    list-style: none;
    border: 1px solid grey;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;    height: 400px;
    overflow-y: scroll;
    border-radius: 15px;
    background: whitesmoke;

}

.dialogItem{
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid gainsboro;
    display: flex;
    padding: 5%;
    justify-content: space-between;
}

.dialogItem:hover{
    border: 1px solid silver;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px;
}

.dialog{
    color: gold;
}

.name{
    text-decoration: none;
}

.dialogs {
    width: 35%;
    margin-right: 5px;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-left: 15px;

}

.messages {
    border-radius: 5px;
    box-shadow: 0 0 20px 0 rgba(44, 101, 144, 0.1);
    background-image: url("https://iqonic.design/themes/socialv/html/images/page-img/100.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 65%;
}


.box {
    margin-top: 1%;
    background-color: #fff;
    display: flex;
    justify-content: space-around ;
    border: 1px solid gray;
    border-radius: 15px;
    padding: 1%;
    height: 11vh;
}

.textarea {
    height: 45px;
    line-height: 45px;
    padding: 5px;
    margin-top: 10px;
    background: transparent;
    border: 1px solid #f1f1f1;
    font-size: 14px;
    color: #a09e9e;
    border-radius: 10px;
    resize: none;
    width: 400px;
}


.btn {
    position: relative;
    background: #50b5ff;
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    padding: 0.5rem;
    font-weight: bold;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn::before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 5px;
}