.button {
    align-items: center;
    appearance: none;
    background-image: radial-gradient(100% 100% at 100% 0, #50a785 0, rgba(88, 196, 141, 0.5) 100%);
    border: 0;
    border-radius: 6px;
    box-shadow: rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 65, 111, .5) 0 -3px 0 inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    min-width: 12vw;
    display: inline-flex;
    font-family: "JetBrains Mono", monospace;
    height: 48px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
    will-change: box-shadow, transform;
    font-size: 18px;
}

.button:focus {
    box-shadow: rgba(125, 232, 119, 0.5) 0 0 0 2px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(125, 232, 119, 0.5) 0 -3px 0 inset;
}

.button:hover {
    box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, rgba(58, 129, 93, 0.5) 0 -3px 0 inset;
    transform: translateY(-2px);
}

.button:active {
    box-shadow: rgba(125, 232, 119, 0.5) 0 3px 7px inset;
    transform: translateY(2px);
}

.red:hover {
    background: #e32323;
    box-shadow: 0 15px 20px rgba(124, 23, 59, 0.4);

    color: white;
    transform: translateY(-7px);
}

.disabled {
    opacity: 0.5;
}

.disabled:hover {
    transform: translateY(-0px);
}

@media screen and (max-width: 500px) {

    .button {
        letter-spacing: 0px;
        width: unset;
        height: 43px;
        border-radius: 10px;
        font-size: 11px;
        font-weight: 800;
        margin:15px;
    }}


